# Question 37
## The following tuples are given: dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')  dji2 = ('HD.US', 'GS.US', 'NKE.US') Nest these tuples into one tuple as shown below and print the result to the console.
## Expected result: (('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [1]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
result = (dji1, dji2)
 
 
print(result)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

# Question 38
## The following tuple is given:
## stocks = (('Apple Inc', ('AAPL.US', 310)),('Microsoft Corp', ('MSFT.US', 184)),) Extract a ticker for Apple and print the result to the console.
## Expected result: AAPL.US

In [2]:
stocks = (
    ('Apple Inc', ('AAPL.US', 310)),
    ('Microsoft Corp', ('MSFT.US', 184)),
)

print(stocks[0][1][0])

AAPL.US

# Question 39
## The following tuple is given (name, age): info = (('Monica', 19), ('Tom', 21), ('John', 18)) Sort this tuple: ascending by age, descending by age And print the result to the console as shown below.
## Expected result: Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))

In [3]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
asc = tuple(sorted(info, key=lambda item: item[1]))
desc = tuple(sorted(info, key=lambda item: item[1], reverse=True))
 
 
print(f'Ascending: {asc}')
print(f'Descending: {desc}')

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))